# 1. Mongo Db with Python- Querying Json Documents
## by.. ~ Saikiran Dasari

![title](mongoDB.gif)

# Table of Contents: <a id="10"></a>

1. [Import the pymongo Library.](#1)

2. [Create a Connetion between MongoDB server and Pymongo.](#2)

3. [Create a database called as 'Employee'](#3)

4. [Create a collection 'employeeinformation' inside 'Employee' database](#4)

5.1 [Adding one Document into the collection](#5.1)

5.2 [Inserting Multiple Records now!!](#5.2)

6. [Query Things as a Data Scientist (SImple Way of Querying)](#6)

    * [A. find_one() function](#6.1)

    * [B. find All the Records](#6.2)

    * [C. Query the JSON documents based on Equality conditions](#6.3)
    

7. [Query documents using "Query operators"](#7)

    * [A. $in operator](#7.1)
    
    * [B. $lt Operator (less than)](#7.2)
    
    * [C. $gt Operator (greater than)](#7.3)
    
    * [D. AND Operator (Both the Conditions should be satisfied)](#7.4)
    
    * [E. OR Operator (Either of the condition should satisfy)](#7.5)
    
    
    
8. [How to work with NESTED JSON documents ?](#8)
    
   * [Insert many JSON documents and Nested JSON documents inside the 'inventory' collection](#8.1)
    
    
9. [UPDATE JSON Documents](#9)
    
    * [Insert Many JSON Documents into 'inventory' collection](#9.1)
        
    * [A. pymongo.collection.Collection.update_one()](#9.2)
        
    * [B. pymongo.collection.Collection.update_many()](#9.3)
        
    * [C. pymongo.collection.Collection.replace_one()](#9.4)

## 1. Import the pymongo Library <a id="1"></a>

In [1]:
# pymongo is the library which actually helps Python to help connect MongoDB
import pymongo

## 2. Create a Connetion between MongoDB server and Pymongo <a id="2"></a>

In [2]:
# client = pymongo.MongoClient('mongodb://127.0.0.1:27017/')     OR

In [3]:
# Connect with the portnumber and host 
client = pymongo.MongoClient('mongodb://localhost:27017/')

## 3. Create a database called as 'Employee' <a id="3"></a>

In [9]:
# Create a Database 'Employee' and store it in mybd variable
# Access database 
mydb = client['Employee']

### 4. Create a collection 'employeeinformation' inside 'Employee' database <a id="4"></a>

In [10]:
# Until and unless we will not create/add collections in any new databases, 
## it will not show up in Cilent Side i.e mongodb compass interface
# Start Create One Collection and Access collection of the database  

empinfo = mydb.employeeinformation

## 5.1 Adding one Document into the collection <a id="5.1"></a>

In [11]:
record={
        'firstname':'Rii',
        'lastname':'Nani',
        'department':'Analytics',
        'qualification':'MS',
        'age':25
        }
# To insert one record at once we use 'insert_one' method
empinfo.insert_one(record)

**All the Steps and following steps are verified by using MongoDB Compass**

## 5.2 Inserting Multiple Records now!! <a id="5.2"></a>

**Makesure every data should be in list (Seperated using JSON [List of JSON docs])**

In [13]:
records=[{
        'firstname':'Leo',
        'lastname':'Doe',
        'department':'Analytics',
        'qualification':'statistics',
        'age':35
        
        },
         {
        'firstname':'Scotch ',
        'lastname':'Smith',
        'department':'Analytics',
        'qualification':'masters',
        'age':30
        
        },
        {
        'firstname':'Olive',
        'lastname':'Sen',
        'department':'Analytics',
        'qualification':'phd',
        'age':34
        
        },
        {
        'firstname':'Sam',
        'lastname':'Singh',
        'department':'Analytics',
        'qualification':'master',
        'age':32
        
        }]

**Using insert_many method to PUSH many records at once**

In [14]:
empinfo.insert_many(records)

# 6. Query Things as a Data Scientist (SImple Way of Querying) <a id="6"></a>

### A. find_one() function <a id="6.1"></a>

**Like: Select TOP 1 record**

In [16]:
# To retrieve the very 1st Doc from that collection
empinfo.find_one()

{'_id': ObjectId('639f7a31b4e3eef97a1c6ea6'),
 'firstname': 'Sid',
 'lastname': 'Das',
 'department': 'Analytics',
 'qualification': 'BE',
 'age': 21}

### B. find All the Records <a id="6.2"></a>

**(like : select from employeeinformation)**

In [17]:
for record in empinfo.find():
    print(record)

{'_id': ObjectId('639f7a31b4e3eef97a1c6ea6'), 'firstname': 'Sid', 'lastname': 'Das', 'department': 'Analytics', 'qualification': 'BE', 'age': 21}
{'_id': ObjectId('63afb001be4587db22482e9f'), 'firstname': 'Rii', 'lastname': 'Nani', 'department': 'Analytics', 'qualification': 'MS', 'age': 25}
{'_id': ObjectId('63b1a00ebe4587db22482ea1'), 'firstname': 'Leo', 'lastname': 'Doe', 'department': 'Analytics', 'qualification': 'statistics', 'age': 35}
{'_id': ObjectId('63b1a00ebe4587db22482ea2'), 'firstname': 'Scotch ', 'lastname': 'Smith', 'department': 'Analytics', 'qualification': 'masters', 'age': 30}
{'_id': ObjectId('63b1a00ebe4587db22482ea3'), 'firstname': 'Olive', 'lastname': 'Sen', 'department': 'Analytics', 'qualification': 'phd', 'age': 34}
{'_id': ObjectId('63b1a00ebe4587db22482ea4'), 'firstname': 'Sam', 'lastname': 'Singh', 'department': 'Analytics', 'qualification': 'master', 'age': 32}

### C.  Query the JSON documents based on Equality conditions <a id="6.3"></a>

**Like: select from employeeinformation where firstname = oliver**

In [20]:
for record in empinfo.find({'firstname':'Olive'}):
    print(record)

{'_id': ObjectId('63b1a00ebe4587db22482ea3'), 'firstname': 'Olive', 'lastname': 'Sen', 'department': 'Analytics', 'qualification': 'phd', 'age': 34}

# 7. Query documents using "Query operators" <a id="7"></a>

### Types of Query Operators:

### A. $in

### B. $lt (less than)

### C.  $gt (greater than)

**D. AND Operator (Both the Conditions should be satisfied)**

**E. OR Operator (Either of the condition should satisfy)**

### A. $in operator <a id="7.1"></a>

**Like: select from empinfo where qualification IN('phd','master')**

**Question) Print all the records where employee qualification is either PHD or Master**

In [21]:
for record in empinfo.find({'qualification':{'$in':['phd','master']}}):
    print(record)

{'_id': ObjectId('63b1a00ebe4587db22482ea3'), 'firstname': 'Olive', 'lastname': 'Sen', 'department': 'Analytics', 'qualification': 'phd', 'age': 34}
{'_id': ObjectId('63b1a00ebe4587db22482ea4'), 'firstname': 'Sam', 'lastname': 'Singh', 'department': 'Analytics', 'qualification': 'master', 'age': 32}

### B. $lt Operator (less than) <a id="7.2"></a>

**Que) Retrieve all the documents where age < 35 and qualification is master**

In [22]:
## Here we are passing 2 conditions (Its like a AND condition)
for record in empinfo.find({'qualification':'master','age':{'$lt':35}}):
    print(record)

{'_id': ObjectId('63b1a00ebe4587db22482ea4'), 'firstname': 'Sam', 'lastname': 'Singh', 'department': 'Analytics', 'qualification': 'master', 'age': 32}

### C. $gt Operator (greater than) <a id="7.3"></a>

**Que) Retrieve all the records where age is > 25**

In [32]:
for record in empinfo.find({'age':{'$gt':25}}):
    print(record)

{'_id': ObjectId('63b1a00ebe4587db22482ea1'), 'firstname': 'Leo', 'lastname': 'Doe', 'department': 'Analytics', 'qualification': 'statistics', 'age': 35}
{'_id': ObjectId('63b1a00ebe4587db22482ea2'), 'firstname': 'Scotch ', 'lastname': 'Smith', 'department': 'Analytics', 'qualification': 'masters', 'age': 30}
{'_id': ObjectId('63b1a00ebe4587db22482ea3'), 'firstname': 'Olive', 'lastname': 'Sen', 'department': 'Analytics', 'qualification': 'phd', 'age': 34}
{'_id': ObjectId('63b1a00ebe4587db22482ea4'), 'firstname': 'Sam', 'lastname': 'Singh', 'department': 'Analytics', 'qualification': 'master', 'age': 32}

### D. AND Operator (Both the Conditions should be satisfied) <a id="7.4"></a>

**Que) Retrieve all the records where firstname is Sam and qualification is master**

In [24]:
for record in empinfo.find({'$and':[{'firstname':'Sam'},{'qualification':'master'}]}):
    print(record)

{'_id': ObjectId('63b1a00ebe4587db22482ea4'), 'firstname': 'Sam', 'lastname': 'Singh', 'department': 'Analytics', 'qualification': 'master', 'age': 32}

### E. OR Operator (Either of the condition should satisfy) <a id="7.5"></a>

**Que) Retrieve all the records where firstname is Olive or qualification is BE**

In [34]:
for record in empinfo.find({'$or':[{'firstname':'Olive'},{'qualification':'BE'}]}):
    print(record)

{'_id': ObjectId('639f7a31b4e3eef97a1c6ea6'), 'firstname': 'Sid', 'lastname': 'Das', 'department': 'Analytics', 'qualification': 'BE', 'age': 21}
{'_id': ObjectId('63b1a00ebe4587db22482ea3'), 'firstname': 'Olive', 'lastname': 'Sen', 'department': 'Analytics', 'qualification': 'phd', 'age': 34}

## 8. How to work with NESTED JSON documents ? <a id="8"></a>

### Create a collection 'inventory' inside 'Employee' database

In [35]:
inventory = mydb.inventory

### Now, Insert many JSON documents and Nested JSON documents inside the collection <a id="8.1"></a>

In [36]:
inventory.insert_many( [
   { 'item': "journal", 'qty': 25, 'size': { 'h': 14, 'w': 21,'uom': "cm" }, 'status': "A" },
   { 'item': "notebook", 'qty': 50,'size': { 'h': 8.5, 'w': 11,'uom': "in" },'status': "A" },
   { 'item': "paper", 'qty': 100, 'size': { 'h': 8.5, 'w': 11,'uom': "in" },'status': "D" },
   { 'item': "planner", 'qty': 75, 'size': { 'h': 22.85,'w': 30,'uom': "cm" },'status': "D" },
   { 'item': "postcard", 'qty': 45, 'size': { 'h': 10, 'w': 15.25,'uom': "cm" },'status': "A" }
]);

### Query the Nested Doc JSON records

In [43]:
for records in inventory.find({'size': { 'h': 14, 'w': 21,'uom': "cm" }}):
    print(records)

{'_id': ObjectId('63b24e79be4587db22482ea5'), 'item': 'journal', 'qty': 25, 'size': {'h': 14, 'w': 21, 'uom': 'cm'}, 'status': 'A'}

![NestedDocInsertOP](NestedDocInsertOP.jpg)

# 9. UPDATE JSON Documents <a id="9"></a>

## Functions to Discuss:

**A. pymongo.collection.Collection.update_one()**

**B. pymongo.collection.Collection.update_many()**

**C. pymongo.collection.Collection.replace_one()**

In [66]:
# From Start:
import pymongo

#Connect to the MongoDB client
client = pymongo.MongoClient('mongodb://127.0.0.1:27017/')

#Connect to the database 'employee'
mydb = client['Employee']

#Create the existing collection 'inventory'
inventory = mydb.inventory

### Insert Many JSON Documents! <a id="9.1"></a>

In [67]:
inventory.insert_many([
    {"item": "canvas",
     "qty": 100,
     "size": {"h": 28, "w": 35.5, "uom": "cm"},
     "status": "A"},
    {"item": "journal",
     "qty": 25,
     "size": {"h": 14, "w": 21, "uom": "cm"},
     "status": "A"},
    {"item": "mat",
     "qty": 85,
     "size": {"h": 27.9, "w": 35.5, "uom": "cm"},
     "status": "A"},
    {"item": "mousepad",
     "qty": 25,
     "size": {"h": 19, "w": 22.85, "uom": "cm"},
     "status": "P"},
    {"item": "notebook",
     "qty": 50,
     "size": {"h": 8.5, "w": 11, "uom": "in"},
     "status": "P"},
    {"item": "paper",
     "qty": 100,
     "size": {"h": 8.5, "w": 11, "uom": "in"},
     "status": "D"},
    {"item": "planner",
     "qty": 75,
     "size": {"h": 22.85, "w": 30, "uom": "cm"},
     "status": "D"},
    {"item": "postcard",
     "qty": 45,
     "size": {"h": 10, "w": 15.25, "uom": "cm"},
     "status": "A"},
    {"item": "sketchbook",
     "qty": 80,
     "size": {"h": 14, "w": 21, "uom": "cm"},
     "status": "A"},
    {"item": "sketch pad",
     "qty": 95,
     "size": {"h": 22.85, "w": 30.5, "uom": "cm"},
     "status": "A"}])

## A. pymongo.collection.Collection.update_one() <a id="9.2"></a>

**Update one document from inventory collection using item: 'sketch pad'{like for which item you want to replace what**

**Use '$set' operator to update/add records**

**Use: '$currentDate' operator to add datetime variable**

In [68]:
inventory.update_one(
                        {"item":"sketch pad"},
                        {"$set": {"size.uom" : "m", "status" : "P"},
                        "$currentDate" : {"lastModified" : True}}
                    )

![update_oneOP](update_oneOP.png)

## B. pymongo.collection.Collection.update_many() <a id="9.3"></a>

**Wherever the Quantity Size in LESS than 50, Update the size to 'in' and status to 'P' and Add currentDate i.e dateTime variable**

In [69]:
## Retrieve documents where Quantity Size in LESS than 50
for record in inventory.find({'qty':{'$lt':50}}):
    print(record)
    
#output:   
# {'_id': ObjectId('63b25c2bbe4587db22482eb7'), 'item': 'journal', 'qty': 25, 'size': {'h': 14, 'w': 21, 'uom': 'cm'}, 'status': 'A'}
# {'_id': ObjectId('63b25c2bbe4587db22482eb9'), 'item': 'mousepad', 'qty': 25, 'size': {'h': 19, 'w': 22.85, 'uom': 'cm'}, 'status': 'P'}
# {'_id': ObjectId('63b25c2bbe4587db22482ebd'), 'item': 'postcard', 'qty': 45, 'size': {'h': 10, 'w': 15.25, 'uom': 'cm'}, 'status': 'A'}

{'_id': ObjectId('63b26071be4587db22482ec2'), 'item': 'journal', 'qty': 25, 'size': {'h': 14, 'w': 21, 'uom': 'cm'}, 'status': 'A'}
{'_id': ObjectId('63b26071be4587db22482ec4'), 'item': 'mousepad', 'qty': 25, 'size': {'h': 19, 'w': 22.85, 'uom': 'cm'}, 'status': 'P'}
{'_id': ObjectId('63b26071be4587db22482ec8'), 'item': 'postcard', 'qty': 45, 'size': {'h': 10, 'w': 15.25, 'uom': 'cm'}, 'status': 'A'}

**Note:Journal, mousepad and postcard have qty less than 50**

In [70]:
# Wherever the Quantity Size in LESS than 50, Update the size to 'in' and status to 'P' and Add currentDate i.e dateTime variable
inventory.update_many(
                        {"qty": {"$lt": 50}},
                        {"$set": {"size.uom": "in", "status": "P"},
                         "$currentDate": {"lastModified": True}}
                     )

In [71]:
for record in inventory.find({'qty':{'$lt':50}}):
    print(record)
    
# {'_id': ObjectId('63b25c2bbe4587db22482eb7'), 'item': 'journal', 'qty': 25, 'size': {'h': 14, 'w': 21, 'uom': 'in'}, 'status': 'P', 'lastModified': datetime.datetime(2023, 1, 2, 4, 31, 2, 291000)}
# {'_id': ObjectId('63b25c2bbe4587db22482eb9'), 'item': 'mousepad', 'qty': 25, 'size': {'h': 19, 'w': 22.85, 'uom': 'in'}, 'status': 'P', 'lastModified': datetime.datetime(2023, 1, 2, 4, 31, 2, 292000)}
# {'_id': ObjectId('63b25c2bbe4587db22482ebd'), 'item': 'postcard', 'qty': 45, 'size': {'h': 10, 'w': 15.25, 'uom': 'in'}, 'status': 'P', 'lastModified': datetime.datetime(2023, 1, 2, 4, 31, 2, 292000)}

{'_id': ObjectId('63b26071be4587db22482ec2'), 'item': 'journal', 'qty': 25, 'size': {'h': 14, 'w': 21, 'uom': 'in'}, 'status': 'P', 'lastModified': datetime.datetime(2023, 1, 2, 4, 41, 53, 685000)}
{'_id': ObjectId('63b26071be4587db22482ec4'), 'item': 'mousepad', 'qty': 25, 'size': {'h': 19, 'w': 22.85, 'uom': 'in'}, 'status': 'P', 'lastModified': datetime.datetime(2023, 1, 2, 4, 41, 53, 685000)}
{'_id': ObjectId('63b26071be4587db22482ec8'), 'item': 'postcard', 'qty': 45, 'size': {'h': 10, 'w': 15.25, 'uom': 'in'}, 'status': 'P', 'lastModified': datetime.datetime(2023, 1, 2, 4, 41, 53, 685000)}

**Above we can see the Updated Results**

## C. pymongo.collection.Collection.replace_one() <a id="9.4"></a>

In [72]:
for record in inventory.find({'item':'paper'}):
    print(record)

# {'_id': ObjectId('63b25c2bbe4587db22482ebb'), 'item': 'paper', 'qty': 100, 'size': {'h': 8.5, 'w': 11, 'uom': 'in'}, 'status': 'D'}

{'_id': ObjectId('63b26071be4587db22482ec6'), 'item': 'paper', 'qty': 100, 'size': {'h': 8.5, 'w': 11, 'uom': 'in'}, 'status': 'D'}

In [73]:
inventory.replace_one(
                    {"item": "paper"},
                    {"item": "paper",
                     "instock": [{"warehouse": "A", "qty": 60},
                                 {"warehouse": "B", "qty": 40}]}
                     )

# In replace_one we have 2: filter: Mapping[str, Any], replacement: Mapping[str, Any]

In [74]:
for record in inventory.find({'item':'paper'}):
    print(record)
# {'_id': ObjectId('63b25c2bbe4587db22482ebb'), 'item': 'paper', 'instock': [{'warehouse': 'A', 'qty': 60}, {'warehouse': 'B', 'qty': 40}]}

{'_id': ObjectId('63b26071be4587db22482ec6'), 'item': 'paper', 'instock': [{'warehouse': 'A', 'qty': 60}, {'warehouse': 'B', 'qty': 40}]}

**Before Replacing JSON doc:**

![before_replace_one](before_replace_one.png)

**After Replacing JSON doc:**

![after_replace_one](after_replace_one.png)

# END

[Click here to redirect to the Table of Contents at Top](#10)