## MongoDB ATLAS Cluster (connection string) connection login
### ~ by Saikiran Dasari

In [1]:
# from pymongo library import MongoClient module
from pymongo import MongoClient 

# Connect with the portnumber and host  
client = MongoClient("mongodb+srv://user_name:passwsord@cluster0.qubpkhp.mongodb.net/test")

In [2]:
# Create a Database called as 'students' and Access database  
mydatabase = client['Students']  


# Create a Collection called as 'studentscores' inside students db and Access collection of the database  
collection = mydatabase['studentscores']  

# Insert many documents inside the collection// Records in the form of JSON
data = [ 
    {"user":"Sid", "subject":"Database", "score":80}, 
    {"user":"Leo",  "subject":"JavaScript", "score":90}, 
    {"user":"Leo",  "title":"Database", "score":85}, 
    {"user":"Sid",  "title":"JavaScript", "score":75}, 
    {"user":"Leo",  "title":"Data Science", "score":60},
    {"user":"Sid",  "title":"Data Science", "score":95}] 
  
collection.insert_many(data)

**Output of MongoDB with PyMongo Over MongoDB ATLAS cloud**

![atlasMongoDBconnectionDataInsertionOP](atlasMongoDBconnectionDataInsertionOP.png)

# And you can do your normal data analysis over Cloud cluster..